* {
  padding: 0;
  margin: 0;
}

.body {
  background: radial-gradient(
    ellipse at top,
    rgb(255, 31, 1) -80%,
    rgb(32, 33, 41) 60%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page {
  max-width: 1280px;
  box-sizing: border-box;
  color: white;
  font-family: Inter, Arial, sans-serif;
}

.header {
  width: 100%;
  height: 30px;
  background-color: rgba(24, 24, 24, 0.8);
  display: flex;
  color: white;
}

.logo {
  color: white;
  font-size: 24px;
  margin: 0px 15px 10px 15px;
  font-weight: 500;
}

.nav {
  width: 100%;
  height: 55px;
  padding-bottom: 3px;
  background-color: rgba(30, 30, 30, 0.7);
  display: flex;
  align-items: flex-end;
  color: white;
  box-shadow: 0px 0px 10px rgb(255, 125, 3);
  border-radius: 0 0 10px 10px;
}

.t1 {
  margin-left: 12px;
}

.t2 {
  margin: 0 10px 0 10px;
}

.main {
  max-width: 98%;
  width: 100%;
  padding-bottom: 150px;
  padding-top: 150px;
  display: flex;
  color: white;
  font-size: 30px;
  padding-left: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  max-width: 25vw;
  width: 100%;
  height: 30vw;
  background-color: rgb(24, 24, 24, 0.7);
  border-radius: 10px;
  display: flex;
}

.app :hover {
  box-shadow: 1px 1px 10px rgb(255, 125, 3);
}

.text {
  min-width: 100%;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
}

.graph {
  max-width: 50vw;
  width: 100%;
  height: 42vw;
  background-color: rgb(24, 24, 24, 0.7);
  border-radius: 10px;
  margin: -40px auto 0;
}
.graph :hover {
  box-shadow: 1px 1px 10px rgb(255, 125, 3);
}

.graph__text {
  color: white;
  width: 50vw;
  min-height: 41vw;
  padding: 10px 0 0 0;
  margin: 0;
  text-align: center;
  border-radius: 10px;
}
